# 134B Week 10

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Assume that the current exchange rate is
$0.90/=C.

![table](../img/134B_Week9_1.png "Title")

## Exercise 8.10
Using the zero-coupon bond prices and oil forward prices in Table 8.9, what is the
price of an 8-period swap for which two barrels of oil are delivered in even-numbered
quarters and one barrel of oil in odd-numbered quarters?

### Solution:
Simlarily, we will use the formula:
$$X=\frac{\sum_{i=1}^8 Q_{t_i} P_0\left(0, t_i\right) F_{0, t_i}}{\sum_{i=1}^8 Q_{t_i} P_0\left(0, t_i\right)}$$
where $Q = [1,2,1,2,1,2]$.

In [1]:
cashflow = [21, 21.1, 20.8, 20.5, 20.2, 20, 19.9, 19.8]
coupons = [0.9852, 0.9701, 0.9546, 0.9388, 0.9231, 0.9075, 0.8919, 0.8763]
Q = [1,2,1,2,1,2,1,2]
numerator = sum([Q[i]*cashflow[i]*coupons[i] for i in range(len(cashflow))])
denominator = sum([Q[i]*coupons[i] for i in range(len(cashflow))])
print(f'The swap price is {numerator/denominator:.4f}')

The swap price is 20.4099

## Exercise 8.11
Using the zero-coupon bond prices and natural gas swap prices in Table 8.9, what
are gas forward prices for each of the 8 quarters?

### Solution:
We are now asked to invert our equations. The swap prices are given, and we want to back out
the forward prices. We do so recursively. For a one-quarter swap, the swap price and the forward
price are identical. Given the one-quarter forward price, we can find the second quarter forward
price, etc.

In [5]:
data = {
    "Quarter": [1, 2, 3, 4, 5, 6, 7, 8],
    "Forward price": [2.25, 2.60, 2.20, 1.90, 2.20, 2.50, 2.15, 1.80]
}

df_forward = pd.DataFrame(data)
df_forward

   Quarter  Forward price
0        1           2.25
1        2           2.60
2        3           2.20
3        4           1.90
4        5           2.20
5        6           2.50
6        7           2.15
7        8           1.80

## Exercise 8.12
Using the zero-coupon bond prices and natural gas swap prices in Table 8.9, what
is the implicit loan amount in each quarter in an 8-quarter natural gas swap?

### Solution:
With a swap price of $2.2044, and the forward prices of question 8.11, we can calculate the
implied loan amount. We can calculate the net position by subtracting the swap price from the
forward prices. The one-quarter implied forward rate is calculated from the zero-coupon bond
prices. The column implicit loan balance adds the net position each quarter and the implicit loan
balance plus interest of the previous quarter. Please note that the shape of the forward curveâ€”we
are initially loaning money, because the swap price is lower than the forward price.

In [6]:
data = {
    "Quarter": [1, 2, 3, 4, 5, 6, 7, 8],
    "Forward price": [2.25, 2.60, 2.20, 1.90, 2.20, 2.50, 2.15, 1.80],
    "Net balance": [0.0456, 0.3955, -0.0042, -0.3046, -0.0043, 0.2954, -0.0543, -0.4042],
    "Forward interest rate": [1.0150, 1.0156, 1.0162, 1.0168, 1.0170, 1.0172, 1.0175, 1.0178],
    "Implicit loan balance": [0.0456, 0.4418, 0.4447, 0.1476, 0.1458, 0.4437, 0.3971, 0.0000]
}

df_loan = pd.DataFrame(data)
df_loan

,Quarter,Forward price,Net balance,Forward interest rate,Implicit loan balance
0,1,2.25,0.0456,1.0150,0.0456
1,2,2.60,0.3955,1.0156,0.4418
2,3,2.20,-0.0042,1.0162,0.4447
3,4,1.90,-0.3046,1.0168,0.1476
4,5,2.20,-0.0043,1.0170,0.1458
5,6,2.50,0.2954,1.0172,0.4437
6,7,2.15,-0.0543,1.0175,0.3971
7,8,1.80,-0.4042,1.0178,0.0000

## Exercise 8.13
What is the fixed rate in a 5-quarter interest rate swap with the first settlement in
quarter 2?

### Solution:
First we need the forward interest rate:

In [3]:
interest_rate = [1/coupons[0]] + [coupons[i-1]/coupons[i] for i in range(1, len(coupons))]
interest_rate

[1.0150223304912709,
 1.0155654056282857,
 1.016237167399958,
 1.0168299957392417,
 1.0170079081356298,
 1.017190082644628,
 1.0174907500840902,
 1.017802122560767]

Now, we can calculate the deferred swap price according to the formula:
$$X=\frac{\sum_{i=2}^6 P_0\left(0, t_i\right) r_0\left(t_{i-1}, t_i\right)}{\sum_{i=2}^6 P_0\left(0, t_i\right)}$$

In [4]:
X = sum(coupons[i]*(interest_rate[i]-1) for i in range(len(coupons)))/sum(coupons[i] for i in range(len(coupons)))
print(f'The swap rate is {X:.4f}')

The swap rate is 0.0166

## Exercise 8.14
Using the zero-coupon bond yields in Table 8.9, what is the fixed rate in a 4-quarter
interest rate swap? What is the fixed rate in an 8-quarter interest rate swap?

### Solution:
Now, we can calculate the swap prices for four and eight quarters according to the formula:
$$X=\frac{\sum_{i=1}^n P_0\left(0, t_i\right) r_0\left(t_{i-1}, t_i\right)}{\sum_{i=1}^n P_0\left(0, t_i\right)}$$
where $n = 4$ or $8$. Thus:

In [5]:
n = 8
X = sum(coupons[i]*(interest_rate[i]-1) for i in range(n))/sum(coupons[i] for i in range(n))
print(f'The swap rate is {X:.4f}')

The swap rate is 0.0166

## Exercise 8.15
What 8-quarter dollar annuity is equivalent to an 8-quarter annuity of 1 Euro?

### Solution:
We can use the formula:
$$X=\frac{\sum_{i=1}^n P_0\left(0, t_i\right) R*F_{0,t_i}}{\sum_{i=1}^n P_0\left(0, t_i\right)}$$
where $R$ is the Euro annuity of one Euro. Thus, we can solve for R.

In [6]:
cashflow2 = [0.9056, 0.9115, 0.9178, 0.9244, 0.9312, 0.9381, 0.9452, 0.9524]

denominartor = sum(coupons[i]* cashflow2[i] for i in range(n))/sum(coupons[i] for i in range(n))
R = X/denominartor
print(f'The annuiity rate is {R:.4f}')

The annuiity rate is 0.0179

## Exercise 8.16
Using the assumptions in Tables 8.5 and 8.6, verify that equation (8.13) equals 6%. (We assume the current exchange rate is \$0.9/E).

$$R=\frac{\sum_{i=1}^n P_{0, t_i} R^* F_{0, t_i} / x_0+P_{0, t_n}\left(F_{0, t_n} / x_0-1\right)}{\sum_{i=1}^n P_{0, t_i}}$$

![table](../img/134B_Week10_1.png "Title")
![table](../img/134B_Week10_2.png "Title")

### Solution:
From the question, we know the annual interest rate is 6\%, then we can compute the zero coupon bond. And $R_*$ is 0.035. Thus, we can compute.

In [7]:
r = 0.06
R = 0.035
n = 3
bonds = [1/(1+r)**i for i in range(1, n+1)]
x0 = 0.9
forwards = [0.9217, 0.9440, 0.9668]

numerator = sum([bonds[i]*forwards[i]*R/x0 for i in range(n)]) + bonds[-1]*(forwards[-1]/x0 - 1)
denominator = sum(bonds)

print(f'The R is {numerator/denominator:.4f}')

The R is 0.0600

## Exercise 8.17
Using the information in Table 8.9, what are the euro-denominated fixed rates for
4- and 8-quarter swaps?

### Solution:
We first need the implied forward interest rate:

In [8]:
coupons2 = [0.9913, 0.9825, 0.9735, 0.9643, 0.9551, 0.9459, 0.9367, 0.9274]
interest_rate2 = [1/coupons2[0]] + [coupons2[i-1]/coupons2[i] for i in range(1, len(coupons2))]
interest_rate2

[1.0087763542822556,
 1.0089567430025443,
 1.0092449922958397,
 1.0095405993985274,
 1.009632499214742,
 1.009726186700497,
 1.0098217145297321,
 1.0100280353676947]

Then we use the similar formula:
$$X=\frac{\sum_{i=1}^n P_0\left(0, t_i\right) r_0\left(t_{i-1}, t_i\right)}{\sum_{i=1}^n P_0\left(0, t_i\right)}$$
where $n = 4$ or $8$. Thus:

In [9]:
n = 4
X = sum(coupons2[i]*(interest_rate2[i]-1) for i in range(n))/sum(coupons2[i] for i in range(n))
print(f'The swap rate is {X:.4f}')

The swap rate is 0.0091

## Exercise 8.18
Using the information in Table 8.9, verify that it is possible to derive the 8-quarter
dollar interest swap rate from the 8-quarter euro interest swap rate by using equation
(8.13).

### Solution:
We can use equation (8.13), but there is a complication: We do not have the current spot
exchange rate. However, it is possible to back it out by using the methodology of the previous
chapters: We know that the following relation must hold:

$$F_{0,1} = X_0e^{(r âˆ’r_âˆ—)}$$

, where the interest rates are already on a quarterly level.
We can back out the interest rates from the given zero-coupon prices. Doing so yields a current
exchange rate of 0.90 $/Euro. Râˆ— is the eight-quarter fixed swap price payment of 0.0094572.
By plugging in all the relevant variables into equation 8.13, we can indeed see that this yields a
swap rate of 1.66 percent, which is the same rate that we calculated in exercise 8.14.